In [1]:
import pandas as pd

#Load all three datasets
censusDataDf = pd.read_csv("ChicagoCensusData.csv")
crimeDataDf = pd.read_csv("ChicagoCrimeData.csv")
PublicSchoolsDataDf = pd.read_csv("ChicagoPublicSchools.csv")

In [2]:
#Info Census Data
censusDataDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   COMMUNITY_AREA_NUMBER                         77 non-null     float64
 1   COMMUNITY_AREA_NAME                           78 non-null     object
 2   PERCENT_OF_HOUSING_CROWDED                    78 non-null     float64
 3   PERCENT_HOUSEHOLDS_BELOW_POVERTY              78 non-null     float64
 4   PERCENT_AGED_16__UNEMPLOYED                   78 non-null     float64
 5   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  78 non-null     float64
 6   PERCENT_AGED_UNDER_18_OR_OVER_64              78 non-null     float64
 7   PER_CAPITA_INCOME                             78 non-null     int64
 8   HARDSHIP_INDEX                                77 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.6+ KB

In [3]:
#Info Crime Data
crimeDataDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB

In [5]:
#Info PublicSchools Data
PublicSchoolsDataDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   School_ID                                         566 non-null    int64
 1   NAME_OF_SCHOOL                                    566 non-null    object
 2   Elementary, Middle, or High School                566 non-null    object
 3   Street_Address                                    566 non-null    object
 4   City                                              566 non-null    object
 5   State                                             566 non-null    object
 6   ZIP_Code                                          566 non-null    int64
 7   Phone_Number                                      566 non-null    object
 8   Link                                              565 non-null    object
 9   Network_Manager                                   566 non-null    object
 10  Collaborative_Name                                566 non-null    object
 11  Adequate_Yearly_Progress_Made_                    566 non-null    object
 12  Track_Schedule                                    566 non-null    object
 13  CPS_Performance_Policy_Status                     566 non-null    object
 14  CPS_Performance_Policy_Level                      566 non-null    object
 15  HEALTHY_SCHOOL_CERTIFIED                          566 non-null    object
 16  Safety_Icon                                       566 non-null    object
 17  SAFETY_SCORE                                      513 non-null    float64
 18  Family_Involvement_Icon                           566 non-null    object
 19  Family_Involvement_Score                          566 non-null    object
 20  Environment_Icon                                  566 non-null    object
 21  Environment_Score                                 513 non-null    float64
 22  Instruction_Icon                                  566 non-null    object
 23  Instruction_Score                                 513 non-null    float64
 24  Leaders_Icon                                      566 non-null    object
 25  Leaders_Score                                     566 non-null    object
 26  Teachers_Icon                                     566 non-null    object
 27  Teachers_Score                                    566 non-null    object
 28  Parent_Engagement_Icon                            566 non-null    object
 29  Parent_Engagement_Score                           566 non-null    object
 30  Parent_Environment_Icon                           566 non-null    object
 31  Parent_Environment_Score                          566 non-null    object
 32  AVERAGE_STUDENT_ATTENDANCE                        565 non-null    object
 33  Rate_of_Misconducts__per_100_students_            566 non-null    float64
 34  Average_Teacher_Attendance                        566 non-null    object
 35  Individualized_Education_Program_Compliance_Rate  566 non-null    object
 36  Pk_2_Literacy__                                   566 non-null    object
 37  Pk_2_Math__                                       566 non-null    object
 38  Gr3_5_Grade_Level_Math__                          566 non-null    object
 39  Gr3_5_Grade_Level_Read__                          566 non-null    object
 40  Gr3_5_Keep_Pace_Read__                            566 non-null    object
 41  Gr3_5_Keep_Pace_Math__                            566 non-null    object
 42  Gr6_8_Grade_Level_Math__                          566 non-null    object
 43  Gr6_8_Grade_Level_Read__                          566 non-null    object
 44  Gr6_8_Keep_Pace_Math_                             566 non-null    object
 45  Gr6_8_Keep_Pace_Read__                            566 non-null    object
 46  Gr_8_Explore_Math__                               566 non-null    object
 47  Gr_8_Explore_Read__                               566 non-null    object
 48  ISAT_Exceeding_Math__                             476 non-null    float64
 49  ISAT_Exceeding_Reading__                          476 non-null    float64
 50  ISAT_Value_Add_Math                               468 non-null    float64
 51  ISAT_Value_Add_Read                               468 non-null    float64
 52  ISAT_Value_Add_Color_Math                         566 non-null    object
 53  ISAT_Value_Add_Color_Read                         566 non-null    object
 54  Students_Taking__Algebra__                        566 non-null    object
 55  Students_Passing__Algebra__                       566 non-null    object
 56  9th Grade EXPLORE (2009)                          566 non-null    object
 57  9th Grade EXPLORE (2010)                          566 non-null    object
 58  10th Grade PLAN (2009)                            566 non-null    object
 59  10th Grade PLAN (2010)                            566 non-null    object
 60  Net_Change_EXPLORE_and_PLAN                       566 non-null    object
 61  11th Grade Average ACT (2011)                     566 non-null    object
 62  Net_Change_PLAN_and_ACT                           566 non-null    object
 63  College_Eligibility__                             566 non-null    object
 64  Graduation_Rate__                                 566 non-null    object
 65  College_Enrollment_Rate__                         566 non-null    object
 66  COLLEGE_ENROLLMENT                                566 non-null    int64
 67  General_Services_Route                            566 non-null    int64
 68  Freshman_on_Track_Rate__                          566 non-null    object
 69  X_COORDINATE                                      566 non-null    float64
 70  Y_COORDINATE                                      566 non-null    float64
 71  Latitude                                          566 non-null    float64
 72  Longitude                                         566 non-null    float64
 73  COMMUNITY_AREA_NUMBER                             566 non-null    int64
 74  COMMUNITY_AREA_NAME                               566 non-null    object
 75  Ward                                              566 non-null    int64
 76  Police_District                                   566 non-null    int64
 77  Location                                          566 non-null    object
dtypes: float64(12), int64(7), object(59)
memory usage: 345.0+ KB

In [6]:
#Connecting to the sqlite Database

import csv, sqlite3
con = sqlite3.connect("AssignmentDB.db")
cur = con.cursor()

In [21]:
# !pip install sqlalchemy==1.4.4
# !pip install ibm_db_sa
# !pip install ipython-sql

In [23]:
%load_ext sql
%sql sqlite:///AssignmentDB.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
#converting df into sql
#to_sql -> Mandatory parametrs:name(Table Name) and Database Connection

censusDataDf.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")
crimeDataDf.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")
PublicSchoolsDataDf.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False,method="multi")

566

In [25]:
#checking if everything is converted correclty or not using sql magic command
#%sql SELECT * FROM CENSUS_DATA LIMIT 5
#%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 5
%sql SELECT * FROM CHICAGO_PUBLIC_SCHOOLS_DATA LIMIT 5

 * sqlite:///AssignmentDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

### Problem 1
##### Find the total number of crimes recorded in the CRIME table.

In [26]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///AssignmentDB.db
Done.

[(533,)]

### Problem 2
##### List community areas with per capita income less than 11000

In [27]:
%sql SELECT COMMUNITY_AREA_NAME,PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///AssignmentDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3
##### List all case numbers for crimes involving minors?

In [28]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%minor%'

 * sqlite:///AssignmentDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4
##### List all kidnapping crimes involving a child?

In [29]:
%sql SELECT PRIMARY_TYPE, CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE LIKE '%kidnap%' AND DESCRIPTION LIKE '%child%'

 * sqlite:///AssignmentDB.db
Done.

[('KIDNAPPING', 'HN144152')]

### Problem 5
##### What kind of crimes were recorded at schools?

In [30]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%school%'

 * sqlite:///AssignmentDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6
##### List the average safety score for all types of schools.

In [31]:
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS "Average_Safety_Score" FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY "Elementary, Middle, or High School"

 * sqlite:///AssignmentDB.db
(sqlite3.OperationalError) near "or": syntax error
[SQL: SELECT Elementary, Middle, or High School , AVG(SAFETY_SCORE) AS Average_Safety_Score FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY Elementary, Middle, or High School]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Problem 7 
##### List 5 community areas with highest % of households below poverty line.

In [32]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///AssignmentDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8
##### Which community area(number) is most crime prone?

In [33]:
%sql SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1

 * sqlite:///AssignmentDB.db
Done.

[(25.0,)]

### Problem 9
##### Use a sub-query to find the name of the community area with highest hardship index.

In [34]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///AssignmentDB.db
Done.

[('Riverdale',)]

### Problem 10
##### Use a sub-query to determine the Community Area Name with most number of crimes?

Solution 1

In [35]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1)

 * sqlite:///AssignmentDB.db
Done.

[('Austin',)]

Solution 2 - (From Problem 8, We know the most crime prone community area number is 25)

In [36]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = 25

 * sqlite:///AssignmentDB.db
Done.

[('Austin',)]